﻿
@{
    ViewBag.Title = "Send";
}
<div>
    <h3>Сообщение в Pushover</h3>
    <form method="post">
        <table>
            <tr>
                <td><p>Введите токен:</p></td>
                <td><input type="text" name="Token" /> </td>
            </tr>
            <tr>
                <td><p>Введите ключ пользователя:</p></td>
                <td><input type="text" name="User" /> </td>
            </tr>
            <tr>
                <td><p>Введите сообщение:</p></td>
                <td><input type="text" name="Message" /> </td>
            </tr>
            <tr><td><input type="submit" value="Отправить" /></td></tr>
        </table>
    </form>
</div>

